.pyc
test.db
# Python 字节码缓存
__pycache__/
*.py[cod]
*$py.class
# 拓展：其他Python产物一并忽略
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
venv/
